- name: Ensure curl is installed
  apt:
    name: curl
    state: present
    update_cache: yes
  become: true

- name: Install ZeroTier using official script
  ansible.builtin.shell: "curl -s https://install.zerotier.com | bash"
  args:
    creates: /var/lib/zerotier-one
  become: true

- name: Join ZeroTier network if ID is provided
  ansible.builtin.command: "zerotier-cli join {{ zerotier_network_id }}"
  when: zerotier_network_id != ""
  become: true
