---
- name: Harden SSH and disable root login
  hosts: all
  become: yes  # run tasks as sudo
  vars:
    sshd_config_path: /etc/ssh/sshd_config

  tasks:

    - name: Disable root account
      ansible.builtin.user:
        name: root
        shell: /usr/sbin/nologin
        state: present

    - name: Backup sshd_config before modifications
      ansible.builtin.copy:
        src: "{{ sshd_config_path }}"
        dest: "{{ sshd_config_path }}.bak"
        remote_src: yes
        backup: yes

    - name: Disable password authentication in SSH
      ansible.builtin.lineinfile:
        path: "{{ sshd_config_path }}"
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication no'
        state: present
        backrefs: yes

    - name: Disable root login in SSH
      ansible.builtin.lineinfile:
        path: "{{ sshd_config_path }}"
        regexp: '^#?PermitRootLogin'
        line: 'PermitRootLogin no'
        state: present
        backrefs: yes

    - name: Ensure PubkeyAuthentication is enabled
      ansible.builtin.lineinfile:
        path: "{{ sshd_config_path }}"
        regexp: '^#?PubkeyAuthentication'
        line: 'PubkeyAuthentication yes'
        state: present
        backrefs: yes

    - name: Restart SSH to apply changes
      ansible.builtin.service:
        name: sshd
        state: restarted
