---
- name: Configure Gateway
  hosts: gateway
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

- name: Configure Private Nodes
  hosts: private
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Ensure .ssh directory exists
      file:
        path: /root/.ssh
        state: directory
        mode: '0700'

    - name: Add public key for root
      authorized_key:
        user: root
        state: present
        key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
