---
- name: Configure gateway host
  hosts: gateway
  become: yes
  vars:
    new_user: funmicra
    # pre-hash the password manually or set a plain password
    new_password: "$6$rounds=4096$abcd1234$wYcZ... (SHA512 hash)" 
    ssh_keys_file: "~/.ssh/id_rsa.pub"
  tasks:

    - name: Ensure the user exists on gateway
      user:
        name: "{{ new_user }}"
        password: "{{ new_password }}"
        shell: /bin/bash
        create_home: yes
        update_password: on_create

    - name: Add user to sudoers on gateway
      copy:
        dest: "/etc/sudoers.d/{{ new_user }}"
        content: "{{ new_user }} ALL=(ALL) NOPASSWD:ALL"
        mode: '0440'

    - name: Ensure .ssh directory exists for user on gateway
      file:
        path: "/home/{{ new_user }}/.ssh"
        state: directory
        owner: "{{ new_user }}"
        group: "{{ new_user }}"
        mode: '0700'

    - name: Add SSH public key to user on gateway
      authorized_key:
        user: "{{ new_user }}"
        key: "{{ lookup('file', ssh_keys_file) }}"

    - name: Disable root SSH login on gateway
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'

    - name: Force SSH key authentication only on gateway
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'

    - name: Restart SSH service on gateway
      service:
        name: ssh
        state: restarted
        enabled: yes

    - name: Lock root account on gateway
      user:
        name: root
        password_lock: yes


- name: Configure private nodes via gateway
  hosts: private
  become: yes
  vars:
    new_user: funmicra
    new_password: "$6$rounds=4096$abcd1234$wYcZ..." # same hash
    ssh_keys_file: "~/.ssh/id_rsa.pub"
  tasks:
    - name: Ensure the user exists on private nodes
      user:
        name: "{{ new_user }}"
        password: "{{ new_password }}"
        shell: /bin/bash
        create_home: yes
        update_password: on_create

    - name: Add user to sudoers on private nodes
      copy:
        dest: "/etc/sudoers.d/{{ new_user }}"
        content: "{{ new_user }} ALL=(ALL) NOPASSWD:ALL"
        mode: '0440'

    - name: Ensure .ssh directory exists for user on private nodes
      file:
        path: "/home/{{ new_user }}/.ssh"
        state: directory
        owner: "{{ new_user }}"
        group: "{{ new_user }}"
        mode: '0700'

    - name: Add SSH public key to user on private nodes
      authorized_key:
        user: "{{ new_user }}"
        key: "{{ lookup('file', ssh_keys_file) }}"

    - name: Disable root SSH login on private nodes
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PermitRootLogin'
        line: 'PermitRootLogin no'

    - name: Force SSH key authentication only on private nodes
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'

    - name: Restart SSH service on private nodes
      service:
        name: ssh
        state: restarted
        enabled: yes

    - name: Lock root account on private nodes
      user:
        name: root
        password_lock: yes
