---
- name: Bootstrap all servers
  hosts: all
  become: yes
  vars:
    new_user: funmicra
    ssh_pub_key_file: "{{ lookup('file', ssh_pub_key) }}"

  tasks:
    - name: Create new user
      ansible.builtin.user:
        name: "{{ new_user }}"
        shell: /bin/bash
        groups: sudo
        append: yes
        state: present

    - name: Create .ssh directory
      ansible.builtin.file:
        path: "/home/{{ new_user }}/.ssh"
        state: directory
        owner: "{{ new_user }}"
        group: "{{ new_user }}"
        mode: 0700

    - name: Install public key for new user
      ansible.posix.authorized_key:
        user: "{{ new_user }}"
        key: "{{ ssh_pub_key_file }}"
        state: present

    - name: Install Zerotier
      ansible.builtin.shell: |
        curl -s https://install.zerotier.com | bash
      args:
        creates: /var/lib/zerotier-one

    - name: Ensure Zerotier service is started and enabled
      ansible.builtin.service:
        name: zerotier-one
        state: started
        enabled: yes

    - name: Join Zerotier network
      ansible.builtin.shell: |
        zerotier-cli join {{ zerotier_network_id }}
      args:
        creates: /var/lib/zerotier-one/networks.d/{{ zerotier_network_id }}
